<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <!-- Autocomplete JS -->
    <script src="js/autocomplete.js"></script>

    <!-- Autocomplete CSS -->
    <link rel="stylesheet" href="css/autocomplete.min.css">


    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="{% static '/css/styles.css' %}" >
</head>
<body>
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="js/materialize.min.js"></script>

    <!--wie änder ich bei dem nav-wrapper die farbe-->
{% comment %} 
    <div class="navbar-fixed #9EC4D5" style="width: 100%; height: 300px; position: fixed">
      <nav class="nav-wrapper blue-grey lighten-2" 
      style="padding-left: 10px; padding-top: 10px; padding-right: 10px">
          <ul>
          <li><a href="#">AMK</a></li>

          </ul> {% endcomment %}
      {% comment %} </nav> {% endcomment %}
      {% block under_nav_bar %}
      
      {% endblock%}
    </div>

    {% block main_content %}
    
    {% endblock%}
</body>
</html>
