{% extends 'base.html' %} {% block main_content %}
<div style="width: 100%">
  <div>
    <p>&lt- View categories</p>
  </div>
  <div>
    <h2>Computer Science</h2>
  </div>
  <div style="width: 100%"></div>
  <div class="row">
    <div class="col s12 l3">
      <a href="https://www.google.com">
        <div class="card grey darken-4">
          <span class="card-title white-text">ML</span>
        </div>
      </a>
    </div>
    <div class="col s12 l3">
      <a href="https://www.google.com">
        <div class="card grey darken-4">
          <span class="card-title white-text">ML</span>
        </div>
      </a>
    </div>
    <div class="col s12 l3">
      <a href="https://www.google.com">
        <div class="card grey darken-4">
          <span class="card-title white-text">ML</span>
        </div>
      </a>
    </div>
    <div class="col s12 l3">
      <a href="https://www.google.com">
        <div class="card grey darken-4">
          <span class="card-title white-text">ML</span>
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col s12 l3">
      <a href="https://www.google.com">
        <div class="card grey darken-4">
          <span class="card-title white-text">ML</span>
        </div>
      </a>
    </div>
    <div class="col s12 l3">
      <a href="https://www.google.com">
        <div class="card grey darken-4">
          <span class="card-title white-text">ML</span>
        </div>
      </a>
    </div>
    <div class="col s12 l3">
      <a href="https://www.google.com">
        <div class="card grey darken-4">
          <span class="card-title white-text">ML</span>
        </div>
      </a>
    </div>
    <div class="col s12 l3">
      <a href="https://www.google.com">
        <div class="card grey darken-4">
          <span class="card-title white-text">ML</span>
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col s12 l3">
      <a href="https://www.google.com">
        <div class="card grey darken-4">
          <span class="card-title white-text">ML</span>
        </div>
      </a>
    </div>
    <div class="col s12 l3">
      <a href="https://www.google.com">
        <div class="card grey darken-4">
          <span class="card-title white-text">ML</span>
        </div>
      </a>
    </div>
    <div class="col s12 l3">
      <a href="https://www.google.com">
        <div class="card grey darken-4">
          <span class="card-title white-text">ML</span>
        </div>
      </a>
    </div>
    <div class="col s12 l3">
      <a href="https://www.google.com">
        <div class="card grey darken-4">
          <span class="card-title white-text">ML</span>
        </div>
      </a>
    </div>
  </div>
</div>

{% endblock %}
