{% extends 'base.html' %} {% block content %}
<div style="width: 100%">
  <h1 class="blue">KOOL - Find competente scientists</h1>
  <div class="row">
    <div class="col s12 l3">
      <div class="card">
        <div class="card-image">
          <a href="https://www.google.com">
            <img
              class="responsive-img"
              src="https://cdn.pixabay.com/photo/2019/03/19/19/54/butterflies-4066785_960_720.jpg"
            />
            <span class="card-title">Biology</span>
          </a>
        </div>
      </div>
    </div>
    <div class="col s12 l3">
      <div class="card">
        <div class="card-image">
          <a href="https://www.google.com">
            <img
              class="responsive-img"
              src="https://cdn.pixabay.com/photo/2012/11/07/21/23/showcase-65306_960_720.jpg"
            />
          </a>
          <span class="card-title">Chemistry</span>
        </div>
      </div>
    </div>
    <div class="col s12 l3">
      <div class="card">
        <div class="card-image">
          <a href="https://www.google.com">
            <img
              class="responsive-img"
              src="https://cdn.pixabay.com/photo/2022/04/04/16/42/technology-7111799_960_720.jpg"
            />
          </a>
          <span class="card-title">Computer Science</span>
        </div>
      </div>
    </div>
    <div class="col s12 l3">
      <div class="card">
        <div class="card-image">
          <a href="https://www.google.com">
            <img
              class="responsive-img"
              src="https://cdn.pixabay.com/photo/2016/10/09/19/19/coins-1726618_960_720.jpg"
            />
          </a>
          <span class="card-title">Economics</span>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

<!--biology: https://cdn.pixabay.com/photo/2019/03/19/19/54/butterflies-4066785_960_720.jpg-->
<!--chemistry: https://cdn.pixabay.com/photo/2012/11/07/21/23/showcase-65306_960_720.jpg-->
<!--computer science: https://cdn.pixabay.com/photo/2022/04/04/16/42/technology-7111799_960_720.jpg-->
<!--economics: https://cdn.pixabay.com/photo/2016/10/09/19/19/coins-1726618_960_720.jpg-->

<!--<div class="col s3 m3">
      <div class="card">
        <div class="card-image">
          <img
            class="responsive-img"
            src="https://cdn.pixabay.com/photo/2019/03/19/19/54/butterflies-4066785_960_720.jpg"
          />
          <span class="card-title">Biology</span>
        </div>
        <div class="card-content">
          <p>
            I am a very simple card. I am good at containing small bits of
            information. I am convenient because I require little markup to use
            effectively.
          </p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>-->
