<nav class="nav-wrapper transparent z-depth-0" style="padding-left: 10px; padding-top: 10px; padding-right: 10px">
    <ul id="nav-bar">
          <div class="left">
             <a href="/">
                <p style="color: #333; font-size: 24px; font-weight: 700; display: inline">KOOL</p>
                <p style="color: #333; font-size: 24px; display: inline"> - Find competent scientists</p>
             </a>
          </div>
          <div class="right">
             <a href="/admin_page/">
                <p style="color: #333; font-size: 14px; display: inline">ADMIN PAGE</p>
             </a>
          </div>
          <div class="right">
             <a href="/about_kool/">
                <p style="color: #333; font-size: 14px; display: inline">ABOUT KOOL</p>
             </a>
          </div>
    </ul>
 </nav>