<nav class="nav-wrapper z-depth-0" style=" background-color: #9EC4D5; padding-left: 10px; padding-top: 10px; padding-right: 10px">
    <ul id="nav-bar">
        <a href="/">
            <div class="left">
                <p style="color: #333; font-size: 24px; font-weight: 700; display: inline">KOOL</p><p style="color: #333; font-size: 24px; display: inline"> -Find competent scientists</p>
            </div>
        </a>
        <a href="/">
            <div class="right">
                <p style="color: #333; font-size: 14px; display: inline">OTHER</p>
            </div>
        </a>
    </ul>
</nav>