<nav class="navbar-fixed blue" style="width: 100%; position: fixed;">
    <div>
        <a href="/" class="left" style="margin-left: 2.5%; margin-right: 5%;">KOOL</a>
        <ul id="nav-mobile" class="hide-on-med-and-down">
        <li><a href="/admin_page/add_entries">Add Entries</a></li>
        <li><a href="/admin_page/edit_database">Edit Database</a></li>
        <li><a href="/admin_page/rebuild">Rebuild</a></li>
        <li><a href="/admin_page/scraper">Scraper</a></li>
        <li><a href="/admin_page/playground">Playground</a></li>
      </ul>
    </div>
</nav>