{% extends 'base.html' %} {% block main_content %}
<script>
  MathJax = {
    tex: {
      inlineMath: [
        ["$", "$"],
        ["\\(", "\\)"],
      ],
    },
    svg: {
      fontCache: "global",
    },
  };
</script>
<script
  type="text/javascript"
  id="MathJax-script"
  async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"
></script>
<!-- NavBar using include -->
<div class="navbar-fixed {% if user.is_authenticated %} blue {% endif %} z-depth-2" style="background-color: #9EC4D5; width: 100%; height: 120px; position: fixed; z-index: 1">
  {% include 'includes/navbar.html' %}
</div>
<div
  class="row"
  style="margin-top: 80px; width: 97%; position: relative; z-index: 2"
>
  <div class="col s12 l6">
    <div class="card roundedcorners" style="padding: 16px">
      <h5 style="text-align: left; font-weight: 500">{{ abstract.title }}</h5>
      <h6 class="left" style="font-weight: 500">{{ abstract.doctype }}</h6>
      <h6 class="right" style="font-weight: 500">{{ abstract.year }}</h6>
      <p style="text-align: justify; margin-top: 50px">
        {{ abstract.content }}
      </p>
    </div>
  </div>
  <div class="col s12 l3">
    <div class="card roundedcorners" style="padding: 16px">
      <h5 style="text-align: left; font-weight: 500">
        Competencies in this abstract
      </h5>
      {% for competency in competencies_abs %}
      <a
        class="competency"
        href="/results/{{competency.id}}"
        style="text-align: left"
      >
        <p>{{competency.name}}</p>
      </a>
      <div class="divider"></div>
      {%endfor%}
    </div>
    <div class="card roundedcorners" style="padding: 16px">
      <h5 style="text-align: left; font-weight: 500">Authors</h5>
        {% for author in authors %}
        <a
          href="{{ author.id }}"
          class="waves-effect waves-light btn-large white {% if author.id == detailed_auth.id %} clicked #e0e0e0 grey lighten-2{%endif%}"
          style="margin-top: 10px; width: 100%; text-align: left; color: black"
          ><i class="material-icons left">face</i>
          {{author.last_name}}, {{author.first_name}}
          <i class="material-icons right">arrow_forward</i></a
        >
        {% endfor %}
      </div>
    </div>
    <div class="col s12 l3">
      <div class="card roundedcorners" style="padding: 16px">
        <a class="waves-effect btn-flat" style="font-size: large; text-transform:capitalize; display: block; width: 100%;" href="/researcher/{{ detailed_auth.id }}">{{ detailed_auth.first_name }} {{ detailed_auth.last_name }}</a>
        <div style="height: 60vh; overflow: scroll; overflow-x: hidden">
          {% for competency in competencies_auth %}
          <a
            class="competency"
            href="/results/{{ competency.id }}"
            style="text-align: left"
          >
            <p>{{ competency.name }}</p>
          </a>
          <div class="divider"></div>
          {% endfor %}
        </div>
        <a
          class="waves-effect waves-light btn-large"
          style="background-color: #6592bf; margin-top: 20px"
          ><i class="material-icons left">mail</i>contact me</a
        >
      </div>
    </div>
  </div>
  {% endblock %}
</div>
