{% extends 'base.html' %}


{% block main_content %}

{% include 'includes/navbar_admin.html' %}

<div class="container transparent" style="padding-top: 100px;">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container">
            <div class="file-field input-field">
               <div class="btn-large red roundedcorners">
                  <span>Upload</span>
                  <input type="file" name="new_database"/>
               </div>
               
               <div class="file-path-wrapper">
                  <input class="file-path validate" type="text" placeholder="Upload csv" />
               </div>
            </div>
        </div>
        <div class="container" style="height: 100px;">
            <p class="flow-text">Please upload your csv. Note the following columns: --</p>
        </div>
        <div class="container">
            <div class="input-field">
                <select>
                    <option selected="selected" value="" disabled>Choose the model</option>
                    <option value="1">KeyBERT</option>
                    <option value="2">Galactica</option>
                    <option value="3">GPTNeo</option>
                </select>
                <label>ML Model for creating database</label>
            </div>
        </div>
        <div class="container">
            <button class="btn-large waves-effect waves-ligh red roundedcorners" type="submit" name="action"> Attacke
                <i class="material-icons right">arrow_circle_right</i>
            </button>
        </div>
        {% if success %}
        <div class="container">
            <p>Attacke successfull <span>&#9989;</span></p>
        </div>
        {% endif %}
    </form>
</div>

<script>
    $(document).ready(function() {
    $('select').formSelect();
    });

</script>

{% endblock %}
