{% extends 'base.html' %}


{% block main_content %}

{% include 'includes/navbar_admin.html' %}

<div class="container transparent" style="padding-top: 100px; width: 75%">

    <div class="container">
        <h3>Add entries to the database</h3>
        <p class="flow-text" style="text-align: justify">To add entries to the database you can upload a csv file here. Note the following columns:</p>
        <script src="https://git.scc.kit.edu/utmyn/scraper/-/snippets/715.js"></script>
        <p class="flow-text" style="text-align: justify">
            Don't forget to <b>leave the Header</b> and format authors like this "auth_1_lastname,auth_1_firstname;auth_2_lastname,auth_2_firstname". When
            using our <a href="/admin_page/scraper">Scraper</a> scraping KIT Open the .csv will already be formatted correctly
            <i>(with the proviso that the data of the KIT Open website remain formatted in this way)</i>.
        </p>

    </div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container">
            <div class="file-field input-field">
               <div class="btn-large red roundedcorners">
                  <span>Upload</span>
                  <input type="file" name="new_database" accept=".csv" />
               </div>
               
               <div class="file-path-wrapper">
                  <input class="file-path validate" type="text" placeholder="Upload csv with given header!" />
               </div>
            </div>
        </div>
        <div class="container">
            <div class="input-field">
                <select name="model">
                    <option value="keybert">KeyBERT</option>
                    <option value="galactica">Galactica 125M</option>
                    <option value="gpt_neo">GPTNeo</option>
                    <option value="xlnet">XLNET</option>
                    <option value="bloom">Bloom</option>
                </select>
                <label>ML Model for creating database</label>
            </div>
        </div>
        <div class="container">
            <button class="btn-large waves-effect waves-ligh red roundedcorners" type="submit" name="action"> Submit
                <i class="material-icons right">arrow_circle_right</i>
            </button>
        </div>
        {% if success == 1%}
        <div class="container">
            <p style="font-size:large">Submit successfull <span>&#9989;</span></p>
        </div>
        {% elif success == 2 %}
        <div class="container">
            <p style="font-size:large">Submit unsuccessfull (Note to upload in .csv format)🙁</p>
        </div>
        {% endif %}
    </form>
</div>

<script>
    $(document).ready(function() {
    $('select').formSelect();
    });

</script>

{% endblock %}
