{% extends 'base.html' %}


{% block main_content %}

{% include 'includes/navbar_admin.html' %}

<div class="container transparent" style="padding-top: 100px;">
    <h3>Rebuild Database</h3>
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container" style="width: 75%">
        <p class="flow-text" style="text-align: justify">Rebuild the database using a different model:</p>
        <div class="input-field">
            <select name="model">
                <option value="keybert">KeyBERT</option>
                <option value="galactica">Galactica 125M</option>
                <option value="gpt_neo">GPT-Neo 125M</option>
                <option value="bloom">Bloom 560M</option>
            </select>
            <label>ML Model for creating database</label>
        </div>
        <button name="rebuild" type="submit" class="btn-large right waves-effect waves-light red roundedcorners">Rebuild</button>
    </form>
</br>
</br>
    {% if success %}
        <p>Successfully started rebuild <span style="font-size: large;">&#9989;</span> 
        You can see the status in Database Selection below. 
        Please don't select a database when it's still building!</p>
    {% endif %}
    </div>
    
    <h3 style="text-align: center;">Database Selection</h3>
    <p id="status"></p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container" style="width: 75%; text-align: left;">
            <p class="flow-text" style="text-align: justify">Select the database which should be used in frontend:</p>
            <table>
                <thead>
                    <th>Name</th>
                    <th>Model</th>
                    <th>Created</th>
                    <th>Status</th>
                    <th>Choose</th>
                </thead>
                <tbody>
                {% for database_name, database_info in databases.items %}
                    <tr>
                        <td>
                            {% if database_info.active == "True" %}
                            <b> {{ database_name }} </b>
                            {% else %}
                            {{ database_name }}
                            {% endif %}
                        </td>
                        <td>{{ database_info.model }}</td>
                        <td>{{ database_info.generated }}</td>
                        <td style="width: 20%;">
                            <div style="display: flex; align-items: center;">
                                <div style="width: 30%; height: 30%; margin-right: 5px;">
                                {% if database_info.build_status.is_running == "True" %}
                                
                                    <div class="preloader-wrapper small active">
                                        <div class="spinner-layer spinner-green-only">
                                        <div class="circle-clipper left">
                                            <div class="circle"></div>
                                        </div><div class="gap-patch">
                                            <div class="circle"></div>
                                        </div><div class="circle-clipper right">
                                            <div class="circle"></div>
                                        </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <span style="font-size: large;">&#9989;</span>
                                {% endif %}
                                </div>
                                <div>
                                    <div class="progress">
                                        <div id="progress-bar-{{database_name}}" class="determinate" style="width: calc({{ database_info.build_status.at }} / {{ database_info.build_status.from }}*100%)"></div>
                                    </div>
                                    <div style="display: flex;">
                                        <p id="build-status-at-{{database_name}}">{{ database_info.build_status.at }}</p>
                                        <p>/</p>
                                        <p id="build-status-from-{{database_name}}">{{ database_info.build_status.from }}</p> 
                                    </div>
                                </div>    
                            </div>
                        </td>
                        <td>
                            <p>
                                <label>
                                    <input id="{{ database_name }}" value="{{ database_name }}" name="database_selector" class="with-gap" type="radio" 
                                    {% if database_info.active == "True" %}
                                        checked 
                                    {% else %} 
                                        unchecked 
                                    {% endif %}
                                    />
                                    <span></span>
                                </label>
                            </p>
                            </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </br>
        <button name="select" type="submit" class="btn-large right waves-effect waves-light red roundedcorners">Select Database</button>
        </div>
    </form>
</div>
<script>
  setInterval(function() {
    fetch("/admin_page/get_status_of_db")
        .then(response => response.json())
        .then(data => {
            for (const dbName in data) {
                console.log(dbName)
                const db = data[dbName];
                const elementId_at = `build-status-at-${dbName}`;
                const elementId_from = `build-status-from-${dbName}`;
                const elementId_progress = `progress-bar-${dbName}`;

                const element_at = document.getElementById(elementId_at);
                const element_from = document.getElementById(elementId_from);
                const element_progress = document.getElementById(elementId_progress)
                
                element_at.innerHTML = db["build_status"]["at"];
                element_from.innerHTML = db["build_status"]["from"];
                element_progress.style.width = `${db["build_status"]["at"] / db["build_status"]["from"] *100}%`;
            }
        });
}, 5000);
</script>
<script>
    $(document).ready(function() {
    $('select').formSelect();
    });
</script>

{% endblock %}