{% extends 'base.html' %}
{% block main_content %}
<div id="navbar-home" class="navbar z-depth-2" style="background-image: url(static/images/background_img.png);">
   {% include 'includes/navbar.html' %}
</div>
<div class="row" style="margin-top: 80px; width: 97%; position: relative; z-index: 2">
   <div class="container">
      <div id="nav-wrapper" class="nav-wrapper white z-depth-4 roundedcorners">

         <div class="switch" title="Switch between Researcher and Competency Search"
            style="position: relative; padding-left: 5%; z-index: 2">
            <label>
               <img src="/static/images/LightBulb.png" width="24px" height="24px" style="margin-top: 15%;" />
               <input id="searchcheckbox" type="checkbox" onchange="switchflipped()">
               <span class="lever" style="margin-bottom: 15%"></span>
               <img src="/static/images/googleaccount.png" width="24px" height="24px">
            </label>
         </div>

         <form id="searchbar" style="flex: 100; margin-left: -10%;" autocomplete="off" method="get" action="/results">

            <div class="input-field" style="position: relative" onchange="search_allowed()">
               {% comment %} list="list-competency" zu input {% endcomment %}
               <input name="q" placeholder="Search Competency" id="search-input" id="auto" type="text"
                  class="autocomplete" style="width: 65%; margin: 0;font-size:30px">

               <label id="search-button" for="auto" class="label-icon" for="search"
                  style="left: auto; " ,
                  type="submit" , name="action">
                  <button class="transparent" id="searchbutton" disabled style="border: none" type="submit">
                     <i class="material-icons">search</i>
                  </button>
               </label>
            </div>

         </form>
      </div>
   </div>


   {% comment %} categories mit show all button and image slider {% endcomment %}
   <div class="container" style="margin-top: 280px;">
      
      <h3 align="left">Categories
         <a class="waves-effect btn-flat" style="align-self: center;font-size: medium; text-transform: none;" onclick="href=/category/">Show all</a>
      </h3>
      <div class="scrollbar scrollbar-primary" style="height: auto; width: 100%;padding: 3px;">
         {% for category in categories %}
         <div id="categories-card" class="card" href="category/{{category.link}}" style="display: inline-block;">
            <div class="card-image" stye="border-radius: 10px;">
               <a href="category/{{category.link}}">
                  <div>
                     <img class="responsive-img" src="{{ category.img }}"
                        style="height: 200px; width: 100%; object-fit: cover; filter: brightness(60%) blur(2px)" />
                  </div>
               </a>
            </div>
            <a id="category-link" href="category/{{category.link}}"><div id="categories-card-title" class="card-title">{{category.name}}</div></a>
         </div>
         {% endfor %}
      </div>
      {% comment %} popular comp mit show all button und vier blöcken mit popular comp und show scientists button {% endcomment %}
      <div style="align: central;">
         <div id="showcomp" align="left">
            <h3>Popular competencies</h3>
         </div>
      </div>
      <div class="row">
         <div class="col s1 m3">
            <div class="card small blue-grey">
               <div class="card-content white-text">
                  <span class="card-title">Machine Learning</span>
                  <p>Machine learning is the field of study that uses algorithms and statistical models to enable
                     computers to learn from and make predictions on data.</p>
               </div>
               <div class="card-action">
                  <a href="/results/?q=machine+learning"><span class="white-text text-darken-2">Search
                        Scientists</span></a>
               </div>
            </div>
         </div>
         <div class="col s1 m3">
            <div class="card small blue-grey">
               <div class="card-content white-text">
                  <span class="card-title">Maxwell Equations</span>
                  <p>Maxwell's equations are a set of four differential equations that describe the behavior of
                     electromagnetic fields and their interactions with matter.</p>
               </div>
               <div class="card-action">
                  <a href="/results/?q=maxwell+equations"><span class="white-text text-darken-2">Search
                        Scientists</span></a>
               </div>
            </div>
         </div>
         <div class="col s1 m3">
            <div class="card small blue-grey">
               <div class="card-content white-text">
                  <span class="card-title">Convergence Analysis</span>
                  <p>Convergence analysis is the study of the rate at which a sequence of approximations or numerical
                     methods approaches a desired limit or solution.</p>
               </div>
               <div class="card-action">
                  <a href="/results/?q=convergence+analysis"><span class="white-text text-darken-2">Search
                        Scientists</span></a>
               </div>
            </div>
         </div>
         <div class="col s1 m3">
            <div class="card small blue-grey">
               <div class="card-content white-text">
                  <span class="card-title">Renewable Energy</span>
                  <p>Renewable energy refers to energy sources that are replenished naturally and do not deplete, such
                     as wind, solar, hydro, and geothermal.</p>
               </div>
               <div class="card-action">
                  <a href="/results/?q=renewable+energy"><span class="white-text text-darken-2">Search
                        Scientists</span></a>
               </div>
            </div>
         </div>
      </div>
   </div>



   <script>
      document.addEventListener('DOMContentLoaded', eventCompetency());

      function eventResearcher() {
         var dict = JSON.parse('{{all_authors|escapejs}}');
         var elems = document.querySelectorAll('.autocomplete');
         options = {
            data: {}, limit: 10, onAutocomplete: function (selectedValue) {
               document.getElementById("searchbar").submit();
            }
         }
         for (var key in dict) {
            options.data[dict[key][1] + " " + dict[key][2]] = null
         }
         var instances = M.Autocomplete.init(elems, options);
      }

      function eventCompetency() {
         var dict = JSON.parse('{{all_competencies|escapejs}}');
         var elems = document.querySelectorAll('.autocomplete');
         options = {
            data: {}, limit: 10, onAutocomplete: function (selectedValue) {
               document.getElementById("searchbar").submit();
            }
         }
         for (var key in dict) {
            options.data[dict[key][1]] = null
         }
         var instances = M.Autocomplete.init(elems, options);
      }


      function switchflipped() {
         if (document.getElementById("searchcheckbox").checked) {
            document.getElementById("search-input").placeholder = "Search Researcher"
            document.removeEventListener('DOMContentLoaded', eventCompetency());
            document.addEventListener('DOMContentLoaded', eventResearcher());
            document.getElementById("searchbar").action = action = "/researcher"
         } else {
            document.getElementById("search-input").placeholder = "Search Competency";
            document.removeEventListener('DOMContentLoaded', eventResearcher());
            document.addEventListener('DOMContentLoaded', eventCompetency());
            document.getElementById("searchbar").action = action = "/results"
         }
      }


      function search_allowed() {
         if (document.getElementById("search-input").value == "") {
            document.getElementById('searchbutton').disabled = true;
         } else {
            document.getElementById('searchbutton').disabled = false;
         }
      }
   </script>
   {% endblock %}